ParkSS/files/ParkingSpot.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="parkingSpot">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="location">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="latitude" type="xs:decimal" />
              <xs:element name="longitude" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="status">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="value">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="free"/>
                    <xs:enumeration value="occupied"/>
                    <xs:enumeration value="FREE"/>
                    <xs:enumeration value="OCCUPIED"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="timestamp" type="xs:dateTime"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="batteryStatus">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:minInclusive value="0"/>
              <xs:maxInclusive value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>