ParkDACE/Connected Services/ServiceParkingSpots/ServiceParkingSpots.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceParkingSpots" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53679/ServiceParkingSpots.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53679/ServiceParkingSpots.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53679/ServiceParkingSpots.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BOT_SpotSensors" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SpotSensors_GetSensorDataString_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSensorDataString" />
  </wsdl:message>
  <wsdl:message name="SpotSensors_GetSensorDataString_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSensorDataStringResponse" />
  </wsdl:message>
  <wsdl:message name="SpotSensors_GetSensorDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSensorDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="SpotSensors_GetSensorDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSensorDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="SpotSensors">
    <wsdl:operation name="GetSensorDataString">
      <wsdl:input wsaw:Action="http://tempuri.org/SpotSensors/GetSensorDataString" message="tns:SpotSensors_GetSensorDataString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SpotSensors/GetSensorDataStringResponse" message="tns:SpotSensors_GetSensorDataString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSensorDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/SpotSensors/GetSensorDataUsingDataContract" message="tns:SpotSensors_GetSensorDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SpotSensors/GetSensorDataUsingDataContractResponse" message="tns:SpotSensors_GetSensorDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_SpotSensors" type="tns:SpotSensors">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSensorDataString">
      <soap:operation soapAction="http://tempuri.org/SpotSensors/GetSensorDataString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSensorDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/SpotSensors/GetSensorDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceParkingSpots">
    <wsdl:port name="BasicHttpBinding_SpotSensors" binding="tns:BasicHttpBinding_SpotSensors">
      <soap:address location="http://localhost:53679/ServiceParkingSpots.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>