ParkDACE/Connected Services/ServiceParkingSpots/ServiceParkingSpots1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53679/ServiceParkingSpots.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BOT_SpotSensors" />
  <xs:element name="GetSensorDataString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="spotId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensorDataStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSensorDataStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensorDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="spotId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensorDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BOT_SpotSensors" minOccurs="0" name="GetSensorDataUsingDataContractResult" nillable="true" type="q1:ParkinSpot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>